<p id="notice"><%= notice %></p>

<h1>Listing Landingpages</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @landingpages.each do |landingpage| %>
      <tr>
        <td><%= landingpage.company %></td>
        <td><%= landingpage.name %></td>
        <td><%= landingpage.email %></td>
        <td><%= link_to 'Show', landingpage %></td>
        <td><%= link_to 'Edit', edit_landingpage_path(landingpage) %></td>
        <td><%= link_to 'Destroy', landingpage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Landingpage', new_landingpage_path %>
